@charset "UTF-8";

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Variáveis */
:root {
    --branco: #ffffff;
    --cinza: #808080;
    --preto: #000000;
}

/* Versão desktop */
body {
    background: url('../imgs/fundo.jpg') no-repeat top center;
    background-attachment: fixed;
    background-color: var(--preto);
    background-size: cover;
    height: 100vh;
    overflow-x: hidden;
    transition: all 0.4s ease;
    width: 100vw;
}

main {
    height: 100vh;
    position: relative;
}

section#celular {
    background: url('../imgs/celular.png') no-repeat;
    height: 482px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.4s ease;
    width: 239px;
}

iframe#tela-celular {
    height: 365px;
    left: 17px;
    position: relative;
    top: 62px;
    transition: all 0.4s ease;
    width: 204px;
}

section#redes-sociais {
    text-align: left;
    transition: all 0.4s ease;
}

li {
    list-style: none;
}

section#redes-sociais img {
    border-radius: 50%;
    box-shadow: 3px 3px 6px var(--preto);
    box-sizing: border-box;
    height: 50px;
    margin: 20px;
    transition: all 0.2s ease;
}

section#redes-sociais img:hover {
    border: 2px solid var(--branco);
    transform: translate(2px, 2px);
    transition: all 0.2s ease;
}

footer {
    background-color: var(--branco);
    color: var(--cinza);
    font-family: var(--fonte-padrao);
    font-weight: bold;
    letter-spacing: 0.8px;
    padding: 4px;
    text-align: center;
    transition: all 0.4s ease;
}

footer a {
    color: var(--cinza);
    text-decoration: none;
    transition: all 1.5s ease;
}

footer a:hover {
    color: var(--preto);
    transition: all 1.5s ease;
}